[buildout]
develop = .
include-site-packges = false
update-versions-file = versions.cfg
extends = versions.cfg
versions = versions
newest = false
parts =
    app
    test

[app]
recipe = zc.recipe.egg
eggs =
    MongoBlog
interpreter = python

[test]
recipe = pbp.recipe.noserunner
eggs = ${app:eggs}
